@media screen and (max-width: 767px) {
  .sectionCarrito {
    padding: 0.1px;
    background: #ffffff;
  }

  .articleCarritoVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .articleCarritoVacio > p:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin: 20px 0 5px 0;
  }

  .articleCarritoVacio > p:nth-child(2) {
    font-size: 18px;
    text-align: center;
    margin: 5px 0 20px 0;
  }

  .articleCarritoVacio > button {
    background: #8a2be2;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 18px;
    width: 90%;
    border-radius: 30px;
    margin: 10px 0 20px 0;
  }

  .articleCarritoVacio > button > .link {
    text-decoration: none;
    color: #ffffff;
  }

  .mainArticle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid black;
  }

  .mainArticle > img {
    width: 40%;
    object-fit: cover;
    margin: 10px 0 5px 5px;
  }

  .articleInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .articleInfo > h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px 0;
    width: 100%;
  }

  .articleInfo > p {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 5px 0;
    width: 40%;
  }

  .articleInfo > button {
    margin: 0 0 0 10px;
    font-size: 20px;
    border-radius: 50%;
    background: #ffffff;
    color: #8a2be2;
    border-color: #8a2be2;
    width: 30px;
    height: 30px;
  }

  .articleInfo > .precioProd {
    color: #1e9c1e;
    font-size: 24px;
    font-weight: 400;
  }

  .carritoContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #000000;
  }

  .carritoContainer > button {
    background: #8a2be2;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 18px;
    width: 40%;
    border-radius: 30px;
    margin: 10px 0 20px 0;
  }

  .carritoContainer > button:nth-child(1) {
    background: #ffffff;
    color: #8a2be2;
    border-color: #8a2be2;
  }

  .carritoTotal {
    color: #1e9c1e;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 5px 5px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .sectionCarrito {
    padding: 0.1px;
    background: #ffffff;
  }

  .articleCarritoVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .articleCarritoVacio > p:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin: 20px 0 5px 0;
  }

  .articleCarritoVacio > p:nth-child(2) {
    font-size: 26px;
    text-align: center;
    margin: 5px 0 20px 0;
  }

  .articleCarritoVacio > button {
    background: #8a2be2;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 26px;
    width: 70%;
    border-radius: 30px;
    margin: 10px 0 20px 0;
  }

  .articleCarritoVacio > button > .link {
    text-decoration: none;
    color: #ffffff;
  }

  .mainArticle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid black;
  }

  .mainArticle > img {
    width: 40%;
    object-fit: cover;
    margin: 10px 0 5px 5px;
  }

  .articleInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .articleInfo > h4 {
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 5px 0;
  }

  .articleInfo > p {
    font-size: 26px;
    font-weight: 400;
    margin: 5px 0 5px 0;
  }

  .articleInfo > button {
    margin: 0 0 0 10px;
    font-size: 24px;
    border-radius: 50%;
    background: #ffffff;
    color: #8a2be2;
    border-color: #8a2be2;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .articleInfo > .precioProd {
    color: #1e9c1e;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
  }

  .carritoContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #000000;
  }

  .carritoContainer > button {
    background: #8a2be2;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 26px;
    width: 40%;
    border-radius: 30px;
    margin: 10px 0 20px 0;
  }

  .carritoContainer > button:nth-child(1) {
    background: #ffffff;
    color: #8a2be2;
    border-color: #8a2be2;
  }

  .carritoTotal {
    color: #1e9c1e;
    font-size: 26px;
    font-weight: 400;
    margin: 5px 0 5px 5px;
  }
}

@media screen and (min-width: 1024px) {
  .sectionCarrito {
    padding: 0.1px;
    background: #ffffff;
  }

  .articleCarritoVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .articleCarritoVacio > p:nth-child(1) {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin: 20px 0 5px 0;
  }

  .articleCarritoVacio > p:nth-child(2) {
    font-size: 30px;
    text-align: center;
    margin: 5px 0 20px 0;
  }

  .articleCarritoVacio > button {
    background: #8a2be2;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 30px;
    width: 40%;
    border-radius: 30px;
    margin: 10px 0 20px 0;
  }

  .articleCarritoVacio > button > .link {
    text-decoration: none;
    color: #ffffff;
  }

  .mainArticle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    border-bottom: 2px dotted black;
  }

  .mainArticle > img {
    width: 40%;
    object-fit: cover;
    margin: 10px 0 5px 5px;
  }

  .articleInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .articleInfo > h4 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 5px 0;
  }

  .articleInfo > p {
    font-size: 32px;
    font-weight: 400;
    margin: 5px 0 5px 0;
  }

  .articleInfo > button {
    margin: 0 0 0 10px;
    font-size: 25px;
    border-radius: 50%;
    background: #ffffff;
    color: #8a2be2;
    border-color: #8a2be2;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .articleInfo > .precioProd {
    color: #1e9c1e;
    font-size: 36px;
    font-weight: 400;
    width: 100%;
  }

  .carritoContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #000000;
  }

  .carritoContainer > button {
    background: #8a2be2;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-color: #000000;
    font-size: 30px;
    width: 30%;
    border-radius: 30px;
    margin: 10px 0 20px 0;
  }

  .carritoContainer > button:nth-child(1) {
    background: #ffffff;
    color: #8a2be2;
    border-color: #8a2be2;
  }

  .carritoTotal {
    color: #1e9c1e;
    font-size: 30px;
    font-weight: 400;
    margin: 5px 0 5px 5px;
  }
}
