@media screen and (max-width: 767px) {
  .header {
    background: #8a2be2;
    padding: 0.1px;
  }

  .UL {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: wrap;
  }

  .UL > .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    transform: 0.1s;
  }
}
