.header {
  background: rgb(164, 164, 233);
  padding: .1px;
}

.UL {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
  flex-wrap: wrap;
}

.UL > .link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
