@media screen and (max-width: 767px) {
  .header {
    background: #8a2be2;
    padding: 0.1px;
  }

  .UL {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
  }

  .UL > .link {
    text-decoration: overline;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    transform: 0.1s;
  }

  .buscador > label {
    margin-right: 6px;
    color: #ffffff;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .header {
    background: #8a2be2;
    padding: 0.1px;
  }

  .UL {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
  }

  .UL > .link {
    text-decoration: overline;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    transform: 0.1s;
    transition: transform 0.3s ease;
  }

  .UL > .link:hover {
    color: #1d1c1c;
    transform: scale(1.2);
  }

  .buscador > label {
    margin-right: 6px;
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background: #8a2be2;
    padding: 0.1px;
  }

  .UL {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
  }

  .UL > .link {
    text-decoration: overline;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    transform: 0.1s;
    transition: transform 0.3s ease;
  }

  .UL > .link:hover {
    color: #1d1c1c;
    transform: scale(1.2);
  }

  .buscador > label {
    margin-right: 6px;
    color: #ffffff;
  }
}
