.AsideMain {
  display: flex;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 767px) {
  .Main {
    width: 100%;
    text-align: center;
    background: #ffffff;
  }

  .Main > article {
    width: 100%;
  }

  .Main > article > img {
    width: 80%;
    object-fit: cover;
    background-image: none;
  }

  .Aside {
    width: 100%;
    text-align: center;
  }

  .Aside > p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .Aside > h3 {
    font-size: 21px;
    letter-spacing: 0.3px;
  }
}
