.AsideMain {
  display: flex;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 767px) {
  .Main {
    width: 100%;
    text-align: center;
  }

  .Aside {
    width: 100%;
    text-align: center;
    background: lightgray;
  }
}
